services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: openpgpwd
      POSTGRES_DB: barpos
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - FLASK_APP=backend.app:create_app
      - FLASK_RUN_HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:openpgpwd@db:5432/barpos
      - JWT_SECRET_KEY=supersecret
      - SECRET_KEY=anothersecret
    depends_on:
      - db
    networks:
      - app-network
    expose:
      - "5000"  # expose internally to Nginx

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    networks:
      - app-network
    expose:
      - "3000"   # Next.js server exposed internally
    environment:
      - REACT_APP_API_URL=http://backend:5000

  nginx:
    image: nginx:alpine
    container_name: barpos-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
